@model CreateSocialMediaDto
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sosyal Medya Hasabı İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Sosyal Medya Hasabı  Giriş</div>
                        </div>
                        <div class="card-body">

                            <div class="form-group">
                                <label for="SocialMediaTitle">İletişim Bilgisi Başlık Giriniz</label>
                                <input asp-for="Title" type="text" class="form-control" id="SocialMediaTitle" />
                            </div>

                            <div class="form-group">
                                <label for="SocialMediaUrl">İletişim Bilgisi Açıklama Giriniz</label>
                                <input asp-for="Url" type="text" class="form-control" id="SocialMediaUrl" />
                            </div>
                            <div class="form-group">
                                <label for="SocialMediaIcon">İletişim Bilgisi Başlık Giriniz</label>
                                <input asp-for="Icon" type="text" class="form-control" id="SocialMediaIcon" />
                            </div>

                            <div class="card-action">
                                <button class="btn btn-success">Sosyam Medya Hasabını Ekle</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

